/*Global selector*/
* {
  /*sets box sizing so the textinput fields will have a border*/
  box-sizing: border-box;
  /*creates variable for green accent color*/
  --accentcolor: #182724;
  /*creates variable for light font color*/
  --lightFontColor: #ebebeb;
  /*creates variable for dark mode background*/
  --darkModeBG: black;
  /*creates variable for dark mode font*/
  --darkModeFT: darkgray;
}

/*Targets the body element*/
body {
  /*Sets the fong family*/
  font-family: Georgia, serif;
  /*removes margin*/
  margin: 0;
}

/*Targets the header element*/
header {
  /*anchors position to the top of the page*/
  top: 0;
  /*Sets header width to 100% of the viewport*/
  width: 100%;
  /*Sets 20px around header items*/
  padding: 20px;
  /*Sets background color to green accent variable*/
  background-color: var(--accentcolor);
}

/*Targets h1 in the header element*/
header h1 {
  /*makes h1 and nav items appear in line*/
  display: inline-block;
  /*Removes margin around h1 element*/
  margin: 0;
  /*sets header font size to 300%*/
  font-size: 300%;
  /*sets font style to oblique*/
  font-style: oblique;
}

/*Targets the nav element in the header*/
nav {
  /*makes nav items float right*/
  float: right;
}

/*Targets the unordered list element*/
ul {
  /*Sets style to none*/
  list-style-type: none;
  /*sets padding around ul to 0*/
  padding: 0;
}

/*Targets the list items in the nav*/
li {
  /*makes list items appear inline*/
  display: inline-block;
  /*Sets a 20px padding to the left of list items*/
  padding-left: 20px;
}

/*targets the submit button on the form class*/
.backButton {
  /*sets border to none*/
  border: none;
  /*sets outline to none*/
  outline: none;
  /*sets cusrer to pointer when it hovers over the submit button*/
  cursor: pointer;
  /*Sets width to 60px*/
  width: 60px;
  /*Sets height to 34px*/
  height: 34px;
}

/* posts sections */
.post {
  background-color: var(--lightFontColor);
  color: var(--accentcolor);
  font-size: 14px;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 10px;
  margin: 5px;
  line-height: 18px;
}

.post h2 {
  font-size: 18px;
  border-bottom: 1px solid var(--darkModeBG);
}

/* Light Mode */
.light {
  /*sets baground color*/
  background-color: #ebebeb;
  /*sets font color*/
  color: black;
  /*tells background color to fill the entire viewport*/
  height: 100vh;
}

.light header h1 {
  /*sets font color to light font variable*/
  color: var(--lightFontColor);
}

.light footer {
  /*Sets background color to green accent variable*/
  background-color: var(--accentcolor);
  /*Sets font color to light font variable*/
  color: var(--lightFontColor);
}

.light button {
  /*Sets background color to same color as the toggle button*/
  background-color: #ccc;
  /*Makes the word submit appear in green accent color*/
  color: var(--accentcolor);
}

/* Dark Mode */
.dark {
  /*sets dark mode baground color*/
  background-color: var(--darkModeBG);
  /*sets dark mode font color*/
  color: var(--darkModeFT);
  /*tells background color to fill the entire viewport*/
  height: 100vh;
}

.dark header h1 {
  /*sets font color to dark mode font color*/
  color: var(--darkModeFT);
}

.dark .post {
  background-color: #18302b;
  color: var(--darkModeFT);
  border: 1px solid #142723;
  box-shadow: rgba(24, 48, 43, 2) 0 1px 2px 0, rgba(24, 48, 43, 0) 0 2px 4px 3px;
}

.dark .post h2 {
  border-bottom: 1px solid var(--darkModeFT);
}

.dark footer {
  /*Sets background color to green accent color*/
  background-color: var(--accentcolor);
  /*Sets font color to dark mode font color*/
  color: var(--darkModeFT);
}

.dark footer p a {
  /*Sets font color to dark mode font color*/
  color: var(--darkModeFT);
}

.dark button {
  /*Sets background color to dark mode background color*/
  background-color: var(--darkModeBG);
  /*Makes the word submit appear dark mode font color*/
  color: var(--darkModeFT);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*Targets the circle inside the toggle*/
.slider:before {
  /*makes the circle inside the toggle appear on top*/
  position: absolute;
  /*sets content to an empty string*/
  content: "";
  /*sets the cirlce's height*/
  height: 26px;
  /*sets the circle's width*/
  width: 26px;
  /*aligns the cirgle inside the toggle*/
  left: 4px;
  /*aligns the cirgle inside the toggle*/
  bottom: 4px;
  /*Sets the circle's color to while*/
  background-color: white;
  /*transition tools to set duration of transition*/
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*Targets the toggle after the toggle is click, it changes color*/
input:checked + .slider {
  /*Sets the toggle's color after clicking*/
  background-color: black;
}

/*Targets toggle and tansforms appearance*/
input:checked + .slider:before {
  background-color: darkgray;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*Targets the slider around the circle to round it*/
.slider.round {
  border-radius: 34px;
}

/*Targets the circle inside the slider to make it a circle*/
.slider.round:before {
  border-radius: 50%;
}

/*Targets the footer element*/
footer {
  /*Sets padding at 20px*/
  padding: 20px;
  /*Indicates footer position is fixed*/
  position: fixed;
  /*Sets fixed position to the bottom of the viewport*/
  bottom: 0;
  /*Sets width to 100% of the view port*/
  width: 100%;
  /*sets font size for all items inside the footer*/
  font-size: 16px;
}

/*Targets the h2 element inside the footer*/
footer h2 {
  /*sets font size for h2*/
  font-size: 16px;
  /*center aligns h2*/
  text-align: center;
  /*removes margins set in footer class*/
  margin: 0;
}

/*Targets the p element inside the footer*/
footer p a {
  /*aligns text left*/
  text-align: left;
  /*removes default text decoration*/
  text-decoration: none;
  /*Sets font color to light font variable*/
  color: var(--lightFontColor);
}

/*media instructions for small screen*/
@media screen and (max-width: 648px) {
  header {
    /*sets padding around header to 50px all directions*/
    padding: 50px;
    /*instructs contents of header to use flex display*/
    display: flex;
    /*extends instructions to flex display to put evenly space 
        the profile image and the nav, header*/
    display: center;
    /*extends instructions to flex display to wrap items as
        the screen size changes*/
    flex-direction: column;
    align-items: center;
  }

  /*centers nav items and stacks below profile image
    reduces font size for header*/
  header h1 {
    order: 1;
    text-align: center;
    font-size: 48px;
  }

  /*centers nav items and stacks below profile image
    reduces padding around nav*/
  header nav {
    order: 2;
  }
}