/*Targets the p element inside the form element*/
form p {
  /*sets a 3% margin top-bottom*/
  margin: 3% 0;
}

/*Targets the text-input class*/
.text-input {
  /*sets width of the input boxes to 100%*/
  width: 100%;
}

/*Targets the label class*/
label {
  /*tells the labels to display in block above the text-input*/
  display: block;
}

/*targets the submit button on the form class*/
button {
  /*sets the space above/below 'submit' to 1%
  and the space left/right to 2%*/
  padding: 1% 2%;
  /*Makes the word submit appear in white*/
  color: #fff;
  /*Sets background color to green accent variable*/
  background-color: var(--accentcolor);
  /*sets border to none*/
  border: none;
  /*sets outline to none*/
  outline: none;
  /*sets cusrer to pointer when it hovers over the submit button*/
  cursor: pointer;
  /*sets the width of the submit button to 100%*/
  width: 100%;
}

/*Targets the message ID*/
#msg {
  /*message defaults to hidden*/
  visibility: hidden;
  /*sets message margin to 20px*/
  margin-top: 20px;
  /*sets font weight to 700*/
  font-weight: 700;
  /*Sets line height*/
  height: 1.2em;
  /*Sets font size*/
  font-size: 1.2em;
}

/*If message errors, make text visible*/
#msg.error {
  visibility: visible;
}

/*Sets error message to red*/
#msg.error {
  color: #e6252c;
}